<h3><strong>Error 606: Under construction!</strong></h3>
<h4>Future home of Bucktown Catholic</h4>
<% @events.each do |event| %>
  <h1><%= event.title %></h1>
  <h2><%= event.description %></h2>
  <h3><%= event.date %></h3>
  <h4><%= event.time %></h4>
  <h5><%= event.location %></h5>
  <hr>
<% end %>