<% first_event = @events.first %>

<h2>Coming soon!</h2>
<h3>Join us <%= stringify_date(first_event) %> for <%= first_event.title %></h3>

<h2>Upcoming Events</h2>

<% @events.each do |event| %>
<div class="Show-event">
  <p class="Show-event-title"><a href="events/<%= event.id %>"><%= event.title %></a><p>
  <small class="Show-event-description"><%= event.slug %></small>
  <small><%= stringify_date(event) %></small>
  <% if logged_in? %>
  <span><a href="events/<%= event.id %>/edit">edit</a></span>
  <% end %>
</div>
<% end %>

<% if logged_in? %>
  <a href="/new">Create a New Event</a>
  <a href="/logout">logout</a>
  <%= current_user.name %>
<% else %>

  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Admin Login" name="login">
  </form>

  <% if @errors %>
    <h3><%= @errors %></h3>
  <% end %>
<% end %>